body{
  font-family: 'Noto Sans', sans-serif;
  background-image: url("../img/street.jpeg");
  background-size: cover;
  background-position: center;
}
html {
  height: 100%;
}
#content {
  color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 25%;
}
hr {
  width: 400px
}
h1{
  font-weight:700px;
  font-size: 100px;
  text-shadow: 2px 4px 3px black;
}
h3{
  text-shadow: 2px 4px 3px black;
}
